.todos-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 3em;
    gap: 2em;
    /* margin-left: 10em;
    margin-right: 10em; */
}

.task-container {
    display: flex;
    background-color: rgb(241, 241, 241);
    width: 100%;
    height: 4em;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    text-align: center;
}

p {
    font-size: 1.7em;
    font-weight: 400;
    color: rgb(255, 0, 0);
    position: absolute;
    margin-left: 6em;
}

.exclude-btn {
    padding-right: 4em;
    background: none;
    border: none;
    color: rgb(250, 45, 45);
}

.check-btn {
    padding-left: 4em;
    padding-right: 0%;
    background: none;
    border: none;
    color: rgb(0, 128, 0);
}
